<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head", { title: "Admin - HCSEG - Fish Research" }) %>
    <link rel="stylesheet" href="/css/manage-users.css">
    <link rel="stylesheet" href="/css/form.css">
  </head>
  <body>
    <%- include("./partials/header", { user: user, pageTitle: "Manage Users" }) %>
    <main class="container">
      <a href="/projects" class="btn btn-nav">Return to Project Selection</a>
      <div class="manage-users-wrapper">
        <h2 class="manage-users-header">Current Users</h2>
        <div class="results">
          <table class="results-table">
            <thead>
              <tr><th>Username</th><th>Email</th><th>Role</th><th>Actions</th></tr>
            </thead>
            <tbody>
              <% users.forEach(function(u) { %>
                <tr>
                  <td data-label="Username"><%= u.username %></td>
                  <td data-label="Email"><%= u.email %></td>
                  <td data-label="Role"><%= u.role %></td>
                  <td data-label="Actions">
                    <div>
                      <button class="btn btn-edit" data-user-id="<%= u.id %>">Edit</button>
                      <button class="btn btn-delete" data-user-id="<%= u.id %>">Delete</button>
                    </div>
                  </td>
                </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="form-container">
        <form id="create-user-form" class="create-user-form">
          <h2 class="manage-users-header">Create New User</h2>
          <div class="input-group">
            <div class="form-group">
              <label for="username">Username:</label>
              <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
              <label for="email">Email:</label>
              <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
              <label for="password">Password:</label>
              <input type="password" id="password" name="password" required>
            </div>
            <div class="form-group">
              <label for="role">Role:</label>
              <select id="role" name="role" required>
                <option value="user">User</option>
                <option value="admin">Admin</option>
              </select>
            </div>
          </div>
          <button type="submit" class="btn btn-submit">Create User</button>
        </form>
      </div>
    </main>
    <%- include("./partials/footer", { pageType: "User Management" }) %>
  </body>
</html>
